.header-details {
  background-color: white;
}

a {
  cursor: pointer;
  font-weight: 600;
}

@media (min-width: 992px) {
  // .dropdown:hover .dropdown-menu {
  //   display: block;
  //   margin-top: 0; // remove the gap so it doesn't close
  // }

  .dropdown-menu li {
    position: relative;
  }

  .submenu {
    position: absolute;
    left: 100%;
    top: -7px;
  }

  .dropdown-menu > li:hover > .submenu {
    display: block;
  }
}
