footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(230, 230, 230);
}

.links {
  display: flex;
  flex-direction: column;
  align-items: center;
}

a {
  text-decoration: none;
  color: black;
}
