<div class="startpage-container p-3">
  <h1 class="sports-home-headline text-center mx-3 mb-3">Sports Home</h1>
  <h4 class="sports-home-description text-center m-3">What can you do on this page?</h4>
  <p class="sports-home-details-text text-center mx-3 mt-3">On this page you can view different sports and leagues statistics and you can
    change crucial values like goals for soccer. This is the opportunity to play "What would have been if...?" or "What
    will be if...?" for different occasions.
  </p>
  <p class="sports-home-details-text text-center mx-3 mb-5">Get right in by clicking the button below for the English Premier League or choose a league from the drop-down menu.</p>
  <button routerLink="sports/soccer/league/soccer-eng-1-2021" class="btn btn-primary sports-home-get-started">Get Started</button>
</div>
