<div class="legal-notice-container padding-left-and-right">
  <h1>Impressum</h1>
  <h2>Angaben gemäß § 5 TMG:</h2>
  <p><br>Oliver Mänder</p>
  <!-- <h3>Postanschrift:</h3>
  <p>Hauptstraße<br>12345 Bodensee<br></p> -->
  <h3>Kontakt:</h3>
  <p>
      <!-- Telefon: 0123456789<br> -->
      E-Mail: oliver.maender@gmail.com
  </p>
  <p></p>
  <!-- <h3>Vertreten durch:</h3>
  <p>Oliver Mänder<br></p> -->
  <p></p>
  <p><br></p>
  <p></p>
  <h2>Hinweise zur Website</h2>
  <p></p>
  <h3>Urheberrechtliche Hinweise</h3>
  <p>Created my logo at <a href="http://logomakr.com/">LogoMakr.com</a><br></p>
  <p></p>
  <h2>Information gemäß § 36 VSBG</h2>
  <p>Gemäß § 36 VSBG (Verbraucherstreitbeilegungsgesetz – Gesetz über die alternative Streitbeilegung in
      Verbrauchersachen) erklärt der Betreiber dieser Website:</p>
  <p>Wir sind weder bereit noch verpflichtet, an Streitbeilegungsverfahren vor einer Verbraucherschlichtungsstelle
      teilzunehmen.</p>
  <p></p>
  <p><em>Das Impressum wurde mit dem <a
              href="https://www.activemind.de/datenschutz/impressums-generator/">Impressums-Generator der activeMind
              AG</a> erstellt.</em></p>
</div>
